.authentication .sign-in .img-caption {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 30px;
    max-width: 600px;
}
.authentication .sign-in .img-caption .caption-title {
    font-size: 35px;
    font-weight: 300;
}
.authentication .sign-in .login-footer {
    position: absolute;
    bottom: 0px;
    padding: 15px 30px;
    border-top: 1px solid;
    width: 100%;
}

.login-header {
    text-align: center;
    background-color: #000000d1;
    color: aliceblue;
    border-radius: 5px;
  }
  .login-logo {
    text-align: center;
  }
  
