<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h3
              class="
                card-title
                bg-dark
                accordion-body
                text-light text-center
                p-xl-1
              "
            >
              Login
            </h3>
            <div class="form-signin">
              <form (ngSubmit)="onLogin(f)" #f="ngForm" ngNativeValidate>
                <div
                  class="form-group mt-2 mb-2"
                  [class.has-error]="email.invalid"
                >
                  <input
                    type="email"
                    class="form-control"
                    ngModel
                    #email="ngModel"
                    id="email"
                    name="email"
                    placeholder="Email address"
                    required
                    email
                  />
                  <span
                    class="has-error"
                    *ngIf="email.errors?.required && email.touched"
                  >
                    Email is Required
                  </span>
                  <span class="has-error" *ngIf="email.errors?.email">
                    Opps Invaid Email..!
                  </span>
                </div>

                <div
                  class="form-group mt-2 mb-2"
                  [class.has-error]="password.invalid"
                >
                  <input
                    type="password"
                    ngModel
                    #password="ngModel"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Password"
                    required
                  />
                  <span
                    class="has-error"
                    *ngIf="password.errors?.required && password.touched"
                  >
                    Password is Required
                  </span>
                </div>
                <div class="form-group mt-2 mb-2 text-center">
                  <button
                    type="submit"
                    class="btn btn-lg btn-primary btn-block"
                    [disabled]="f.invalid"
                  >
                    Login
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
