<nav class="navbar fixed-top navbar-dark bg-dark mb-3">
  <a class="navbar-brand ml-2" [href]="redirecturl">Employe App</a>
  <button class="btn btn-danger float-end mb-2"
   *ngIf="currentLocation != '/'" (click)="logout()">Logout</button>
</nav>
<router-outlet></router-outlet>
<!-- <app-login></app-login> -->
