<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-12 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h3>Employee List</h3>
            <button
              class="btn btn-primary float-end mb-2"
              (click)="onAddEmployee()"
            >
              New User
            </button>
            <table class="table">
              <thead class="table-dark">
                <tr>
                  <th>No</th>
                  <th>Name</th>
                  <th>Department</th>
                  <th>Job</th>
                  <th>Hire Date</th>
                  <th>Salary</th>
                </tr>
              </thead>
              <tbody *ngIf="persons?.length != 0">
                <tr *ngFor="let person of persons; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ person["emp_name"] ? person["emp_name"] : "-" }}</td>
                  <td>{{ person["job_name"] ? person["job_name"] : "-" }}</td>
                  <td>{{ person["dept_id"] ? person["dept_id"] : "-" }}</td>
                  <td>{{ person["hire_date"] ? person["hire_date"] : "-" }}</td>
                  <td>{{ person["salary"] ? person["salary"] : "-" }}</td>
                </tr>
              </tbody>
              <tbody *ngIfElse="persons?.length == 0">
                <tr>
                  <td colspan="7" class="no-data-available text-center">
                    <h3>No data!</h3>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
