<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h3
              class="
                card-title
                bg-dark
                accordion-body
                text-light text-center
                p-xl-1
              "
            >
              New Employee
            </h3>
            <div class="form-signin">
              <form (ngSubmit)="onSubmit(f)" #f="ngForm" ngNativeValidate>
                <div
                  class="form-group mt-2 mb-2"
                  [class.has-error]="emp_name.invalid"
                >
                  <input
                    type="text"
                    class="form-control"
                    ngModel
                    #emp_name="ngModel"
                    id="emp_name"
                    name="emp_name"
                    placeholder="Employee Name"
                    required
                  />
                  <span
                    class="has-error"
                    *ngIf="emp_name.errors?.required && emp_name.touched"
                  >
                    Employee Name is Required
                  </span>
                </div>
                <div
                  class="form-group mt-2 mb-2"
                  [class.has-error]="department.invalid"
                >
                  <select
                    class="form-control"
                    id="department"
                    name="department"
                    #department="ngModel"
                    placeholder="Department"
                    [(ngModel)]="selectedDepartment"
                    required
                  >
                    <option value="selectedDept" disabled>
                      Select Any Department
                    </option>
                    <option
                      *ngFor="let item of DepartmentList"
                      [value]="item.value"
                    >
                      {{ item.lable }}
                    </option>
                  </select>
                  <span
                    class="has-error"
                    *ngIf="department.errors?.required && department.touched"
                  >
                    Department is Required
                  </span>
                </div>
                <div
                  class="form-group mt-2 mb-2"
                  [class.has-error]="job_name.invalid"
                >
                  <input
                    type="text"
                    class="form-control"
                    ngModel
                    #job_name="ngModel"
                    id="job_name"
                    name="job_name"
                    placeholder="Job"
                    required
                  />
                  <span
                    class="has-error"
                    *ngIf="job_name.errors?.required && job_name.touched"
                  >
                    Job is Required
                  </span>
                </div>
                <div
                  class="form-group mt-2 mb-2"
                  [class.has-error]="salary.invalid"
                >
                  <input
                    type="text"
                    class="form-control"
                    ngModel
                    #salary="ngModel"
                    id="salary"
                    name="salary"
                    placeholder="Salary"
                    required
                  />
                  <span
                    class="has-error"
                    *ngIf="salary.errors?.required && salary.touched"
                  >
                    Salary is Required
                  </span>
                </div>
                <div class="form-group mt-2 mb-2 text-center">
                  <button
                    type="submit"
                    class="btn btn-lg btn-primary btn-block me-5"
                    [disabled]="f.invalid"
                  >
                    Submit
                  </button>
                  <button
                    class="btn btn-lg btn-danger btn-block"
                    (click)="onBack()"
                  >
                    Back
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
